.board{
    border-collapse: collapse;
    margin-top: 10px;
}

.cell{
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid#333;
    text-align: center;
    cursor: pointer;
}


.cell.revealed{
    background: #ddd;
}